[submodule "lib/src/submodulos/submodulo-internacionalizacion-movil"]
	path = lib/src/submodulos/submodulo-internacionalizacion-movil
	url = https://github.com/pimba-corporation/submodulo-internacionalizacion-movil
[submodule "lib/src/submodulos/submodulo-auth0-movil"]
	path = lib/src/submodulos/submodulo-auth0-movil
	url = https://github.com/pimba-corporation/submodulo-auth0-movil
[submodule "lib/src/submodulos/submodulo-transportes-movil"]
	path = lib/src/submodulos/submodulo-transportes-movil
	url = https://github.com/pimba-corporation/submodulo-transportes-movil
