[submodule "pocket_roads/lib/src/submodulos/submodulo-internacionalizacion-movil"]
	path = pocket_roads/lib/src/submodulos/submodulo-internacionalizacion-movil
	url = https://github.com/pimba-corporation/submodulo-internacionalizacion-movil
