[submodule "lib/src/submodulos/submodulo-internacionalizacion-movil"]
	path = lib/src/submodulos/submodulo-internacionalizacion-movil
	url = https://github.com/pimba-corporation/submodulo-internacionalizacion-movil
